@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffffbe;
  --foreground: #171717;
}

/* styles/globals.css */
@font-face {
  font-family: 'JakartaSans';
  src: url('/fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
       url('/fonts/PlusJakartaSans-Light.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'JakartaSans';
  src: url('/fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
       url('/fonts/PlusJakartaSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JakartaSans';
  src: url('/fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
       url('/fonts/PlusJakartaSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, sans-serif;
}
